#AnchorPane, #logout{
    -fx-background-color: rgba(255, 255, 255, 0);
}


#Saisir, #Modifier, #Consulter {
    -fx-border-color: #00936E; 
    -fx-background-radius: 15px; 
    -fx-border-radius: 15px; 
    -fx-background-color: #ffffff;
   
}




