#mainPane {
    -fx-background-image: url("@../../../../data/fondAutre.png");
}

#Back, #HomePage {
    -fx-background-color: None
}

#scrollPane {
    -fx-background: None
}

#comboBox, #textField {
    -fx-border-color: #00936E; 
    -fx-border-width: 4px;
    -fx-background-radius: 15px; 
    -fx-border-radius: 15px; 
    -fx-background-color: #ffffff;
}

#dateBox {
    -fx-border-color: #00936E; 
    -fx-border-width: 4px;
    -fx-background-color: #ffffff;
}

#valider{
    -fx-background-color: #00936E;
    -fx-background-radius: 30px;
}



