#AnchorPane, #Back, #HomePage, #save {
    -fx-background-color: rgba(255, 255, 255, 0);
}


#espece, #ordonnee, #abcisse {
    -fx-border-color: #00936E; 
    -fx-border-width: 4px;
    -fx-background-radius: 15px; 
    -fx-border-radius: 15px; 
    -fx-background-color: #ffffff;
   
}


#generer{
    -fx-background-color: #00936E;
    -fx-background-radius: 30px;
}



